In [1]:
import pandas as pd

In [3]:
bureau = pd.read_csv('/Users/hazel/Documents/credit_project2/bureau_final.csv', index_col=0)
bureau

,SK_ID_CURR,CREDIT_ACTIVE,CREDIT_Bad debt,CREDIT_Closed,CREDIT_Sold,CREDIT_CURRENCY1,CREDIT_CURRENCY2,CREDIT_CURRENCY3,CREDIT_CURRENCY4,DAYS_CREDIT,...,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mobile operator loan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan,DAYS_CREDIT_UPDATE,AMT_ANNUITY,MONTHS_BALANCE_x,Start_to_End,CLOSE
0,215354,6,0,5,0,11,0,0,0,727.818182,...,0,0,0,0,0,-367.272727,NaN,NaN,NaN,0.0
1,162297,3,0,3,0,6,0,0,0,1344.500000,...,0,0,1,0,0,-777.833333,NaN,NaN,NaN,0.0
2,402440,1,0,0,0,1,0,0,0,96.000000,...,0,0,0,0,0,-22.000000,NaN,NaN,NaN,0.0
3,238881,3,0,5,0,8,0,0,0,914.750000,...,0,0,0,0,0,-530.625000,NaN,NaN,NaN,0.0
4,222183,5,0,3,0,8,0,0,0,959.125000,...,0,0,0,0,0,-618.875000,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305806,207190,0,0,1,0,1,0,0,0,532.000000,...,0,0,0,0,0,-31.000000,NaN,-17.0,-6.0,1.0
305807,324956,0,0,1,0,1,0,0,0,381.000000,...,0,0,0,0,0,-199.000000,0.0,-12.0,-12.0,1.0
305808,448157,1,0,0,0,1,0,0,0,1441.000000,...,0,0,1,0,0,-2.000000,NaN,NaN,NaN,0.0
305809,345866,0,0,1,0,1,0,0,0,375.000000,...,0,0,0,0,0,-4.000000,17140.5,-12.0,-11.0,1.0
305810,235871,0,0,1,0,1,0,0,0,2724.000000,...,0,0,0,0,0,-2510.000000,NaN,-89.0,-7.0,1.0

In [4]:
col = list(bureau.columns)
col

['SK_ID_CURR',
 'CREDIT_ACTIVE',
 'CREDIT_Bad debt',
 'CREDIT_Closed',
 'CREDIT_Sold',
 'CREDIT_CURRENCY1',
 'CREDIT_CURRENCY2',
 'CREDIT_CURRENCY3',
 'CREDIT_CURRENCY4',
 'DAYS_CREDIT',
 'CREDIT_DAY_OVERDUE',
 'DAYS_CREDIT_ENDDATE',
 'DAYS_ENDDATE_FACT',
 'AMT_CREDIT_MAX_OVERDUE',
 'CNT_CREDIT_PROLONG',
 'AMT_CREDIT_SUM',
 'AMT_CREDIT_SUM_DEBT',
 'AMT_CREDIT_SUM_LIMIT',
 'AMT_CREDIT_SUM_OVERDUE',
 'CREDIT_TYPE_Another type of loan',
 'CREDIT_TYPE_Car loan',
 'CREDIT_TYPE_Cash loan (non-earmarked)',
 'CREDIT_TYPE_Consumer credit',
 'CREDIT_TYPE_Credit card',
 'CREDIT_TYPE_Interbank credit',
 'CREDIT_TYPE_Loan for business development',
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'CREDIT_TYPE_Loan for the purchase of equipment',
 'CREDIT_TYPE_Loan for working capital replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile operator loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real estate loan',
 'CREDIT_TYPE_Unknown type of loan',
 'DAYS_CREDIT_UPDATE',
 'AMT_ANNUITY',
 'MONTHS_BALANCE_x',
 'Start_to_End',
 'CLOSE']

In [6]:
new_col=[]
for i in col:
    a = 'bureau_'+i
    new_col.append(a)
new_col

['bureau_SK_ID_CURR',
 'bureau_CREDIT_ACTIVE',
 'bureau_CREDIT_Bad debt',
 'bureau_CREDIT_Closed',
 'bureau_CREDIT_Sold',
 'bureau_CREDIT_CURRENCY1',
 'bureau_CREDIT_CURRENCY2',
 'bureau_CREDIT_CURRENCY3',
 'bureau_CREDIT_CURRENCY4',
 'bureau_DAYS_CREDIT',
 'bureau_CREDIT_DAY_OVERDUE',
 'bureau_DAYS_CREDIT_ENDDATE',
 'bureau_DAYS_ENDDATE_FACT',
 'bureau_AMT_CREDIT_MAX_OVERDUE',
 'bureau_CNT_CREDIT_PROLONG',
 'bureau_AMT_CREDIT_SUM',
 'bureau_AMT_CREDIT_SUM_DEBT',
 'bureau_AMT_CREDIT_SUM_LIMIT',
 'bureau_AMT_CREDIT_SUM_OVERDUE',
 'bureau_CREDIT_TYPE_Another type of loan',
 'bureau_CREDIT_TYPE_Car loan',
 'bureau_CREDIT_TYPE_Cash loan (non-earmarked)',
 'bureau_CREDIT_TYPE_Consumer credit',
 'bureau_CREDIT_TYPE_Credit card',
 'bureau_CREDIT_TYPE_Interbank credit',
 'bureau_CREDIT_TYPE_Loan for business development',
 'bureau_CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'bureau_CREDIT_TYPE_Loan for the purchase of equipment',
 'bureau_CREDIT_TYPE_Loan for working capital replenishment',
 'bureau_CREDIT_TYPE_Microloan',
 'bureau_CREDIT_TYPE_Mobile operator loan',
 'bureau_CREDIT_TYPE_Mortgage',
 'bureau_CREDIT_TYPE_Real estate loan',
 'bureau_CREDIT_TYPE_Unknown type of loan',
 'bureau_DAYS_CREDIT_UPDATE',
 'bureau_AMT_ANNUITY',
 'bureau_MONTHS_BALANCE_x',
 'bureau_Start_to_End',
 'bureau_CLOSE']

In [7]:
bureau.columns = new_col
bureau

,bureau_SK_ID_CURR,bureau_CREDIT_ACTIVE,bureau_CREDIT_Bad debt,bureau_CREDIT_Closed,bureau_CREDIT_Sold,bureau_CREDIT_CURRENCY1,bureau_CREDIT_CURRENCY2,bureau_CREDIT_CURRENCY3,bureau_CREDIT_CURRENCY4,bureau_DAYS_CREDIT,...,bureau_CREDIT_TYPE_Microloan,bureau_CREDIT_TYPE_Mobile operator loan,bureau_CREDIT_TYPE_Mortgage,bureau_CREDIT_TYPE_Real estate loan,bureau_CREDIT_TYPE_Unknown type of loan,bureau_DAYS_CREDIT_UPDATE,bureau_AMT_ANNUITY,bureau_MONTHS_BALANCE_x,bureau_Start_to_End,bureau_CLOSE
0,215354,6,0,5,0,11,0,0,0,727.818182,...,0,0,0,0,0,-367.272727,NaN,NaN,NaN,0.0
1,162297,3,0,3,0,6,0,0,0,1344.500000,...,0,0,1,0,0,-777.833333,NaN,NaN,NaN,0.0
2,402440,1,0,0,0,1,0,0,0,96.000000,...,0,0,0,0,0,-22.000000,NaN,NaN,NaN,0.0
3,238881,3,0,5,0,8,0,0,0,914.750000,...,0,0,0,0,0,-530.625000,NaN,NaN,NaN,0.0
4,222183,5,0,3,0,8,0,0,0,959.125000,...,0,0,0,0,0,-618.875000,NaN,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305806,207190,0,0,1,0,1,0,0,0,532.000000,...,0,0,0,0,0,-31.000000,NaN,-17.0,-6.0,1.0
305807,324956,0,0,1,0,1,0,0,0,381.000000,...,0,0,0,0,0,-199.000000,0.0,-12.0,-12.0,1.0
305808,448157,1,0,0,0,1,0,0,0,1441.000000,...,0,0,1,0,0,-2.000000,NaN,NaN,NaN,0.0
305809,345866,0,0,1,0,1,0,0,0,375.000000,...,0,0,0,0,0,-4.000000,17140.5,-12.0,-11.0,1.0
305810,235871,0,0,1,0,1,0,0,0,2724.000000,...,0,0,0,0,0,-2510.000000,NaN,-89.0,-7.0,1.0

In [9]:
# 計算空值站欄位的百分比
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [10]:
missing_values_table(bureau)

Your selected dataframe has 39 columns.
There are 10 columns that have missing values.

                               Missing Values  % of Total Values
bureau_Start_to_End                    196490               64.3
bureau_AMT_ANNUITY                     187589               61.3
bureau_MONTHS_BALANCE_x                171269               56.0
bureau_AMT_CREDIT_MAX_OVERDUE           92846               30.4
bureau_DAYS_ENDDATE_FACT                37656               12.3
bureau_AMT_CREDIT_SUM_LIMIT             25308                8.3
bureau_AMT_CREDIT_SUM_DEBT               9325                3.0
bureau_DAYS_CREDIT_ENDDATE               4121                1.3
bureau_AMT_CREDIT_SUM                     881                0.3
bureau_DAYS_CREDIT_UPDATE                   2                0.0

In [11]:
bureau.to_csv('bureau_final2.csv')